/* ========================================================================    
 *
 * Base Styles 
 *
 * ======================================================================== */
/* Google Fonts */
@import url(http://fonts.googleapis.com/css?family=Averia+Serif+Libre:400,700,400italic);
@import url("http://fonts.googleapis.com/css?family=Cantarell");

/* HTML Elements */
html, body {
    background:#f4f4f4 url(../image/background.png);
    color: #2c2d32;
    font-family: 'Cantarell', Helvetica, Arial, sans-serif;
    height: 100%;
    margin:0;
    padding:0;
    position:relative;
    text-shadow:0 0 1px #ffffff;
    -webkit-font-smoothing: antialiased;
}

a {
    color:#7291AD;
    font-weight:bold;
    padding:5px;
    text-decoration:none;
} 
a:hover {
    color:#A28167;
    text-decoration:underline;
}

/* --------------------------------------
 * Headers 
 * -------------------------------------- */
h1,h2,h3,h4,h5,h6, #header{
    color: #DBAB49;
    font-family: 'Averia Serif Libre', Helvetica, Arial, sans-serif;
    margin:0;
    padding:0;
    text-shadow: 0px 1px 1px #202020, 
                0px 0px 1px rgba(40, 40, 40, .5), 
                0 4px 2px rgba(30, 30, 30, .1);
}

h1 {
    font-size: 2.3em;
    font-weight:bold;
}
h2 {
    font-size:2.2em;
    font-weight:bold;
}

/* --------------------------------------
 * Pre (for code) 
 * -------------------------------------- */
pre, .code_style {
    background:#383838;
    border:1px solid #111111;
    color:#ffffff;
    font-size:1em;
    font-family:'Ubuntu Mono', monospace, sans-serif;
    padding:5px;
    text-shadow: 0 0 1px #2c2d32 !important;
}
/* --------------------------------------
 * Lists 
 * -------------------------------------- */
ul, li {
}


/* --------------------------------------
 * Divs 
 * -------------------------------------- */
div {
    text-overflow: ellipsis;
}

/* --------------------------------------
 * Inputs
 * -------------------------------------- */
input[type='text'], input[type='email'], input[type='number'],
input[type='submit'], input[type='password'], 
input[type='search'], input[type='datetime'], 
input[type='time'], textarea, select {
    -moz-box-shadow: 0 1px 4px #e0e0e0 inset;
    -webkit-box-shadow: 0 1px 4px #e0e0e0 inset;
    box-shadow: 0 1px 4px #e0e0e0 inset;
    border: 1px solid #a0a0a0;
    color: #2c2d32;
    font-family: 'Cantarell', Helvetica, Arial, sans-serif;
    font-size:1em;
    padding: 2px;
}
input:focus, textarea:focus {
    -moz-box-shadow: 0 0 10px #42607a !important;
    -webkit-box-shadow: 0 0 10px #42607a !important;
    box-shadow: 0 0 10px #42607a !important;
    border: 1px solid #324d62;
}

/*Placeholder style*/
::-webkit-input-placeholder { color: #ababab;}
:-moz-placeholder { color: #ababab; } 

/* ========================================================================    
 *
 *                              LAYOUT
 *
 * ======================================================================== */
/* site wrapper, contains every element */
#site_wrapper {
    /* _height will ONLY work in IE */
    _height:100%;
    position:relative;
    min-height: 100%;   
}

/* ========================================================================    
 *
 * Header
 *
 * ======================================================================== */
#header_wrapper {
    height: 160px;
    position: relative;
}
    #header {
        margin: 0 5%;
    }

    #st_francis_header {
        color: #DBAB49;
        font-size:4.4em;
        font-weight:bold;
        margin: 0;
        padding: 0;
        text-align: left;
        text-shadow: 0px 0 2px #202020,
                    -1px 1px 2px rgba(40,40,40,.5),
                    0 4px 3px rgba(30,30,30,.2);
    }

/* ========================================================================    
 * Site navigation
 * ======================================================================== */
#site_nav_wrapper {
    bottom: 5px;
    height: 70px;
    left: 0;
    position: absolute;
    right: 0;
}
    #site_nav_inner {
        bottom:0;
        left:0;
        position:absolute;
        right:0;
        top:0;
        z-index: 100;
    }
        #site_nav {
            height: 100%;
            margin: 0 5%;
        }
            #site_nav a {
                color: #ffffff;
                display: block;
                height: 100%;
                float: left;
                font-weight: bold;
                margin: 0 2% 0 0;
                min-width: 120px;
                padding: 15px 0 0 0; 
                text-align: center;
                text-shadow: -1px 1px 3px rgba(0,0,0,.8);
            }
            #site_nav a:hover {
                background: rgba(190,160,130,.3);
                height: 40px;
                text-decoration: none;

                /*
                text-shadow: -1px 1px 3px rgba(0,0,0,1), 
                            0 1px 20px #F0EE44,
                            0 1px 5px #ffffff;
                */
            }

    #site_nav_background {
        box-shadow: 0 0 4px #202020;
        background: url(../image/leather.png);
        bottom: 15px;
        left: 0;
        position: absolute;
        right: 0;
        top: 0px;
    }

.bookmark { 
    background: url(../image/bookmark.png) top left no-repeat !important;    
}
.bookmark:hover {
    height: 100% !important;
}

/* ========================================================================    
 *
 * Body
 *
 * ======================================================================== */
#content_wrapper {
    margin: 0 5%;
    padding: 0 0 95px 0;
    position:relative;
}
    #content {
        position:relative;
    }

/* ========================================================================    
 * Homepage Layout
 * ======================================================================== */
#homepage_logo_image_wrapper {
    float: left;
    margin: 0 2% 0 0;
    overflow: hidden;
    position: relative;
    width: 28%;
}

#st_francis_image {
    opacity:1.0;
    width:90%;
}

/*
#st_francis_image:hover {
    opacity:0.4;
}
    #st_francis_image img{
        width: 100%;
    }
*/

/* Middle div content */
#homepage_main_content_wrapper {
    float: left;
    margin: 0 2% 0 0;
    position: relative;
    width: 43%;
}

.parish_bulletin {
    margin: 5px 45px 5px 0;
}
    .parish_bulletin a {
        background: #ffffff;
        border: 2px solid #ffffff;
        box-shadow: 0 0 6px rgba(100,100,100,1);
        display: block;
        padding: 0;
        text-align: center;
        width: 136px;
    }

/* ========================================================================
 * What's new section 
 * ========================================================================*/
#whats_new_content {
    min-height: 250px;
}
#bulletin_images_wrapper, #whats_new_right {
    position:relative;
}
#bulletin_images_wrapper {
    left: 0;
    position: absolute;
    top: 0;
}
#whats_new_right {
    margin: 0 0 0 200px;
}

/* Right div content */
#homepage_right_side_wrapper {
    float: left;
    overflow: hidden;
    position: relative;
    width: 25%;
}

/* Google Calendar on home page */
#agenda_calendar {
    height: 300px;
    width: 100%;
}

#mass_schedule .table{
    font-size:.8em;
}
    #rosary_text {
        border-top: 1px solid rgba(0, 0, 0, .1);
        font-size: .8em;
        font-style: italic;
        margin: 9px 0 0 0;
        padding: 9px 0 0 0;
        text-align: left;
    }

/* ========================================================================    
 *
 * Other Pages
 *
 * ======================================================================== */
.content_block_wrapper {
    margin: 0 0 2em 0;
    position: relative;
}
    .content_block_wrapper h2 {
        border-bottom: 1px solid rgba(0,0,0, .3);
        margin: 0 0 10px 0;        
    }
    .content_block_inner {
        position: relative;
    }
/* ========================================================================    
 *
 * Footer
 *
 * ======================================================================== */
#footer_wrapper {
    box-shadow: 0px -1px 10px #000000;

    background: url(../image/leather.png);
    border-top: 1px solid rgba(200,200,200,.4);
    bottom:0; 
    color: #f0f0f0;
    height: 80px;
    left:0;
    position:absolute;
    right:0;
    text-shadow: 0 0 1px #101010;
}

    #footer_wrapper .stitch_top {
        top: 10px !important;
    }
    
    #footer {
        margin: 10px 0 0 0;
        padding:20px 0 0 0;
    }
        /* footer */
        #address_footer {
            text-align: center;
        }
        #footer h4 {
            color: #ffffff;
            text-shadow: -1px 1px 3px rgba(0, 0, 0, .8);
        }


/* ========================================================================    
 *
 * REUSABLE CLASSES 
 *
 * ======================================================================== */
.table {
    position: relative;
}
    .table .tr {
        margin: 0 0 5px 0;
        overflow: auto;
        position: relative;
        width: 100%;
    }

    .table .tr .td{
        float: left;
    }
    .tr .col_left {
        font-weight: bold;
        margin:0 3% 0 0;
        text-align: left;
        width: 42%;
    }
    .tr .col_right {
        text-align: left;
        width: 55%;
    }


.stitch_top,
.stitch_bottom {
    background: url(../image/stitch.png) repeat-x;
    height: 2px;
    left:0;
    position:absolute;
    right: 0;
}
.stitch_top {
    top: 8px;
}
.stitch_bottom {
    bottom: 6px;
}

.sub_header {
    border-bottom: 1px solid rgba(0,0,0,.1);
    font-weight:bold;
}
.align_right { text-align:right; }
.bold { font-weight:bold; }
.center { text-align:center; }
.center_image { display:block; text-align:center; }
.clear { clear:both; }
.hidden_element { display: none; }
.visibility_none { opacity: 0; }
.email {
    unicode-bidi: bidi-override;
    direction:rtl;
}
.font_small { font-size:.9em; }
.font_small { font-size:.8em; }
.italic { font-style: italic; }
.grey_text {
    color: #aeaeae;
    text-shadow:1px 1px 0 #ffffff;
}
.grey_text a { color:#909090; }
.grey_text a:hover { color:#707070; text-decoration:underline; }

.margin_top { margin:4em 0 0 0; }
/* ========================================================================    
 * Google-like buttons
 * ======================================================================== */
.buttons {
    float: left;
    padding-bottom: 20px;
    clear: both;
}
a.button, li.button, .help, .button, button {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    border: 1px solid #ACACAC;
    border-top-color: #BDBDBD;
    border-bottom-color: #949494;
    color: #2c2d32;
    cursor: pointer;
    display: inline-block;
    font-size:.9em;
    font-weight:bold;
    margin-right: 10px;
    padding: 7px 12px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    background: #dedede;
    background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#d1d1d1));
    background: -moz-linear-gradient(top, #f0f0f0, #d1d1d1);
}
a.button:hover, li.button:hover, .button_hover, .hover, button:hover {
    color: #111;
    border-color: #999;
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
a.button:active, li.button:active, .tab_active, button:active, .active {
    color: #000 !important;
    border-color: #444 !important;
    border:1px solid #979797 !important;
    border-top:1px solid #707070 !important;
    background: #000!important;
    background: -webkit-gradient(linear, left top, left bottom, from(#c3c3c3), to(#ebebeb)) !important;
    background: -moz-linear-gradient(top, #c3c3c3, #ebebeb) !important;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,.1) !important;
    -webkit-box-shadow: inset 2px 2px 2px rgba(0,0,0,.1) !important;
    -moz-box-shadow: inset 2px 2px 2px rgba(0,0,0,.1) !important;
    -o-box-shadow:  inset 2px 2px 2px rgba(0,0,0,.1) !important;
}
a.left {
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
    margin: 0;
}
a.middle {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-left: solid 1px #f3f3f3;
    margin: 0;
    border-left: solid 1px rgba(255, 255, 255, 0);
}
a.middle:hover,
a.right:hover { border-left: solid 1px #999 }
a.right {
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
    border-left: solid 1px #f3f3f3;
    border-left: solid 1px rgba(255, 255, 255, 0);
}
a.big {
    font-size: 16px;
    padding: 10px 15px;
}
a.supersize {
    font-size: 20px;
    padding: 15px 20px;
}
a.save {
    background: url(../image/sprite.png) 10px 7px no-repeat #f3f3f3;
    padding-left: 30px;
}
a.add {
    background: url(../image/sprite.png)  10px -27px no-repeat #f3f3f3;
    padding-left: 30px;
}
a.delete {
    background: url(../image/sprite.png)  10px -61px no-repeat #f3f3f3;
    padding-left: 30px;
}
a.flag {
    background: url(../image/sprite.png)  10px -96px no-repeat #f3f3f3;
    padding-left: 30px;
}
a.up {
    background: url(../image/sprite.png)  13px -133px no-repeat #f3f3f3;
    width: 18px;
}
a.down {
    background: url(../image/sprite.png)  13px -168px no-repeat #f3f3f3;
    width: 18px;
}
                background: rgba(255,255,255,.1);
a.save-big {
    background: url(../image/sprite.png) 15px 11px no-repeat #f3f3f3;
    font-size: 16px;
    padding: 10px 15px 10px 35px;
}
a.add-big {
    background: url(../image/sprite.png)  15px -23px no-repeat #f3f3f3;
    font-size: 16px;
    padding: 10px 15px 10px 35px;
}
a.delete-big {
    background: url(../image/sprite.png)  15px -57px no-repeat #f3f3f3;
    font-size: 16px;
    padding: 10px 15px 10px 35px;
}
a.flag-big {
    background: url(../image/sprite.png)  15px -92px no-repeat #f3f3f3;
    font-size: 16px;
    padding: 10px 15px 10px 35px;
}
a.up-big {
    background: url(../image/sprite.png)  15px -128px no-repeat #f3f3f3;
    width: 18px;
    font-size: 16px;
    padding: 10px 15px;
}
a.down-big {
    background: url(../image/sprite.png)  15px -163px no-repeat #f3f3f3;
    width: 18px;
    font-size: 16px;
    padding: 10px 15px;
}
